extends base

block content
  a(href='/items/create') Create Item
  div(class='row')
  each item in items
    div(class='col')
      div(class='card h-100')
        if item.imageUrl
          img(src=item.imageUrl, alt=item.name class='card-img-top')
        else
          img(src='../images/no-image.png', alt='No image' class='card-img-top')
        div(class='card-body')
          h3(class='card-title') #{item.name}
          p(class='card-text') #{item.description}
          a(href=item.url class="btn btn-primary") Item info
